* {
  margin: 0px;
  padding: 0px;
}

.Appcontainer {
  height: 3214px;
  width: 375px;
  padding-top: 10px;
  border-radius: 0px;
  margin: auto;
  background: rgba(255, 247, 240, 1);
}

@media only screen and (min-width: 768px) {
  .Appcontainer {
    height: 2762px;
    width: 768px;
    overflow: hidden;
    padding-top: 10px;
    border-radius: 0px;
    margin: auto;
    background: rgba(255, 247, 240, 1);
  }
}
@media only screen and (min-width: 992px) {
  .Appcontainer {
    height: 2595px;
    width: 1440px;
  }
}
